# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
media
# Django
*.log
local_settings.py
db.sqlite3
*.pot
*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Static files (collected)
staticfiles/

# OS
.DS_Store
Thumbs.db
